@charset "utf-8";
body {
    margin: 0 0;
}
/*左浮动*/
.fl {
    float: left;
}
/*右浮动*/
.fr {
    float: right;
}
/*清除浮动*/
.clear {
    clear: both;
}
/*去除a标签下划线*/
a {
    text-decoration: none;
}

.header {
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background-color: #f4f4f4;
}

.header-warp {
    margin: 0 auto;
    width: 1190px;
}

.header-left {
    line-height: 36px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.user-login {
    margin-right: 30px;
}

.content {
    margin: 0 auto;
    width: 1190px;
    font-size: 14px;
}

.title {
    text-align: center;
}
.content-detail{
    margin-bottom: 20px;
}
.content-title span {
    display: block;
    text-align: center;
    color: #969191;
}

.detail-fl {
    margin-left: 20px;
    width: 700px;
    margin-bottom: 30px;
}

.conditions-title p {
    font-size: 16px;
}
.conditions-title{
    font-size: 16px;

}
.conditions-content p {
    text-indent: 2em;
    line-height: 25px;
    text-align: justify;
}
.detail-fr{
    margin-top: 30px;
    padding-left: 40px;
    width: 300px;
    border-left: 1px solid #e1e1e1;
}
.btn{
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn input{
    width: 150px;
    height: 36px;;
    margin-bottom: 20px;
}
.appraise-content{
    margin-left: 20px;
    margin-bottom: 20px;
}
.appraise li{
    list-style: none;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 25px;
}
.appraise_pic{
    width: 4.76rem;
    height: 4.76rem;
    border: 1px solid #eee;
    overflow: hidden;
    margin-right: 0.3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.appraise_pic img{
    display: block;
    border: 0;
    width: 100%;
}
.appraise_con{
    margin-left: 10px;
}
.com_time{
    text-align: right;
    color: #969191;
    margin-bottom: 10px;
}
.appraise input{
    height: 35px;
    width: 100%;
}



